  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body, html {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: linear-gradient(#36d1dc, #5b86e5);
  }

  .wrap {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .location, .temp {
    height: 30vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }


  .temp {
    flex-direction: column;
   
  }

  .temp p3 {
    font-size: 20px;
  }

  .degree {
    display: flex;
    
  }

  .degree h1 {
    font-size: 25px;
  }
  
  .degree span{
    font-size: 18px;
  }
  
  .temperature{
    cursor: pointer;
  }
  